#editor {
  margin: 20px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  height: 600px;
  position: relative;
  border: 1px solid #333;
}
#editor .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  font-size: 16px;
  padding: 6px 10px;
  background-color: #00a;
  color: #fff;
}
#editor .header .alert {
  color: #fff;
  font-size: 14px;
  padding: 3px 6px;
  margin-left: 10px;
}
#editor .header .alert-error {
  background-color: #f00;
}
#editor .header .alert-warning {
  background-color: #700;
}
#editor .header .alert-info {
  background-color: #070;
}

#editor .toolbar {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  background-color: #aaa;
  padding: 7px 10px;
  height: 40px;
}
#editor .toolbar span {
  float: left;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
  color: #fff;
  background-color: #007;
  font-size: 14px;
}
#editor .toolbar span.disabled {
  color: #000;
  background-color: #eee;
  cursor: not-allowed;
}
#editor .toolbar span.right {
  float: right;
}
#editor .text {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
}
#editor .CodeMirror {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  margin: 0;
  font: 14px monospace;
}
#editor .dialog {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 600px;
  height: 400px;
  background-color: #aaa;
  z-index: 100;
}

#editor .dialog .title {
  background-color: #00a;
  padding: 5px;
  color: #fff;
}
#editor .dialog .title .close {
  padding: 2px 5px;
  font-size: 12px;
  background-color: #f00;
  color: #fff;
  float: right;
  cursor: pointer;
}
#editor .dialog .inner {
  margin: 10px;
}
#editor .dialog .inner .filelist {
  position: absolute;
  top: 38px;
  left: 10px;
  right: 10px;
  bottom: 50px;
  background-color: #f7f7f7;
  overflow: auto;
  padding: 10px 0 10px 10px;
}
#editor .dialog .inner .filelist .fileheader {
  font-size: 14px;
  font-weight: bold;
}
#editor .dialog .inner .filelist .filelistitem {
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
}
#editor .dialog .inner .fileinput {
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 25px;
  width: 485px;
  font-size: 14px;
}
#editor .dialog .inner .button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 30px;
  width: 80px;
}